package com.ease.nogame.dict;

import com.ease.nogame.gameserver.IDict;
import com.ease.nogame.util.Item;
import java.util.List;
import java.util.Map;

#import string
#set $type_table = {
        "int":"int",
        "float":"float",
        "string":"String",
        "list<int>":"List<Integer>",
        "list<item>":"List<Item>",
        "list<string>":"List<String>",
        "map":"Map<Integer, Integer>",
        "double":"double",
        "float":"float"
    }

public class DT$className.capitalize() implements IDict {
    #for $desc, $name, $type in $fieldList:
       #set $field_name = string.capwords($name, sep="_").replace("_", "")
       #set $field_name = $field_name[0].lower() + $field_name[1:]
       //$desc
       private $type_table[str($type)] $field_name;
    #end for
       
       @Override
       public Object getId() {
          #set $desc, $name, $type = $fieldList[0]
          #set $field_id_name = string.capwords($name, sep="_").replace("_", "")
          #set $field_id_name = $field_id_name[0].lower() + $field_id_name[1:]
          return this.$field_id_name;
       }

    #for $desc, $name, $type in $fieldList
       #set $method_name = string.capwords($name, sep="_").replace("_", "")
       #set $field_name = string.capwords($name, sep="_").replace("_", "")
       #set $field_name = $field_name[0].lower() + $field_name[1:]
       public $type_table[str($type)] get${method_name}(){
            return this.$field_name;
       }

       public void set${method_name}($type_table[str($type)] value){
            this.$field_name = value;
       }

    #end for
}

