package org.ease.nogame.dict;

#import string
#set $type_table = {
        "int":"int",
        "float":"float",
        "string":"String",
        "list<int>":"List<int>",
        "list<item>":"List<Item>",
        "map":"Map<int, int>",
        "double":"double",
        "float":"float"
    }

class $className.capitalize() {
    #for $desc, $name, $type in $fieldList:
       #if  $type != "list<item>"
       //$desc
       private $type_table[str($type)] $name;
       #end if
    #end for
    
    #for $desc, $name, $type in $fieldList
       #set $method_name = string.capwords($name, sep="_").replace("_", "")
       public $type_table[str($type)] get${method_name}(){
            return ${name};
       }

       public void set${method_name}($type_table[str($type)] value){
            this.${name} = value;
       }

    #end for
}

