package com.ease.nogame.dict;

import com.ease.nogame.gameserver.IDict;
import com.ease.nogame.util.Item;
import java.util.List;
import java.util.Map;

#import string
#set $type_table = {
        "int":"int",
        "float":"float",
        "string":"String",
        "list<int>":"List<Integer>",
        "list<item>":"List<Item>",
        "list<string>":"List<String>",
        "map":"Map<Integer, Integer>",
        "double":"double",
        "float":"float"
    }

#def getCapName($name)
    #set $name = string.capwords($name, sep="_").replace("_", "")
    #return $name
#end def

#def getFieldName($name)
              #set $name = string.capwords($name, sep="_").replace("_", "")
              #set $name = $name[0].lower() + $name[1:]
              #return $name
#end def

#set $clname = $getCapName($className)
public class DT$clname implements IDict {
    #for $desc, $name, $type in $fieldList:
       #set $field_name = $getFieldName($name)
       //$desc
       private $type_table[str($type)] $field_name;
    #end for
       
       @Override
       public Object getId() {
          #set $desc, $name, $type = $fieldList[0]
          #set $field_id_name = $getFieldName($name)
          return this.$field_id_name;
       }

    #for $desc, $name, $type in $fieldList
       #set $method_name = $getCapName($name)
       #set $field_name = $getFieldName($name)
       public $type_table[str($type)] get${method_name}(){
            return this.$field_name;
       }

       public void set${method_name}($type_table[str($type)] value){
            this.$field_name = value;
       }

    #end for
}

